body {

   margin: 0;
   padding: 0;


}

section {
   padding: 70px 0px;
}



.bold-text {
   font-weight: bold;
}

.search-icon {
   color: white;
   background-color: rgba(204, 158, 73, 0.918);
   padding: 30px 30px
}

.banner-items {
   background-image: url(images/slider-1.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   min-height: 600px;


}

.banner-text h2 {
   text-align: center;
   color: rgba(204, 158, 73, 0.918);
   padding-top: 10%;

}

.banner-text h4 {
   text-align: center;
   color: white;
   font-weight: bold;
   text-transform: uppercase;

}

.banner-text p {
   text-align: center;
   color: white;
   text-transform: uppercase;

}

.button-container {
   text-align: center;
}

.feature-icon {
   color: rgba(204, 158, 73, 0.918);
   padding-left: 80px;
   font-size: 50px;
   margin-bottom: 20px;
}
.feature-title-first {
   font-weight: bold;
   color: black;
   text-align: center;
   font-size: 24px;
   margin-bottom: 20px;

}
.feature-title {
   font-weight: bold;
   color: black;
   text-align: center;

}

.feature-subtitle {
   text-align: center;
   color: black;
}

.title {
   text-align: center;
   font-weight: bold;
   font-size: 24px;
   margin-bottom: 20px;
   position: relative; 

}

.title::after {
   content: ''; 
   position: absolute; 
   bottom: -5px; 
   left: 50%; 
   transform: translateX(-50%);
   width: 20%; 
   height: 5px; 
   background-color: orange; 
}

.subtitle {
   text-align: center;

   font-size: 24px;
   margin-bottom: 20px;
}

.about-title {
   font-weight: bold;
   font-size: 24px;
   margin-bottom: 20px;
   position: relative;

}
.about-title::after{
   
   content: ''; 
   position: absolute; 
   bottom: -5px; 
   left: 10%; 
   transform: translateX(-50%);
   width: 20%; 
   height: 5px; 
   background-color: black; 


}

.about-subtitle {

   font-size: 18px;
   margin-bottom: 20px;
}

.offer-color {
   background-color: rgb(231, 186, 102);
}

.background-1 {
   background-color: white;
   margin-bottom: 20px;
   margin-right: -10px;
   padding-bottom: 20px;

}

.background-1 h6 {
   text-align: center;
   font-weight: bold;

}

.background-1 p {
   text-align: center;

}

.custom-icon {
   color: white;
   background-color: black;
   margin-left: 40%;
   padding: 20px 20px;
   font-size: 24px;
   margin-top: -30px;
}

.feature-title {
   font-weight: bold;
   font-size: 24px;
   text-align: left;
   margin-bottom: 20px;
   position: relative;
}
.feature-title::after{
   content: '';
   position: absolute;
   bottom: -5px; 
   left: 10%; 
   transform: translateX(-50%);
   width: 20%; 
   height: 5px; 
   background-color: black; 

}

.feature-subtitle {
   text-align: left;
}

.feature-icon-1 {
   border: 5px solid rgba(228, 184, 41, 0.848);
   background-color: black;
   font-size: 36px;
   color: rgba(228, 184, 41, 0.848);

}
.icon-section {
   display: flex;
   align-items: center;
   margin-top: 20px;
}
.icon-content {
   flex: 1;
}

.icon-heading {
   font-size: 18px;
   margin-bottom: 5px;
   text-transform: uppercase;
   margin-top: 20px;
   padding-top: 20px;
}

.icon-subheading {
   color: gray;
}
.icon {
   flex: 0 0 auto;
   margin-right: 20px;
}

.icon img {
   width: 50px;
   height: 50px;
}
.our-services{
   background-color: rgb(10, 10, 56);
}

.title-white
{
   color: white;
   text-align: center;
   font-weight: bold;
   font-size: 24px;
   margin-bottom: 20px;
   position: relative;
}

.title-white::after {
   content: ''; 
   position: absolute; 
   bottom: -5px; 
   left: 50%; 
   transform: translateX(-50%);
   width: 20%; 
   height: 5px; 
   background-color: orange; 
}


.subtitle-white
{
   color: white;
   text-align: center;

   font-size: 24px;
   margin-bottom: 20px;
}
.team-description{
   background-color: orange;
   padding-bottom: 20px;
}
.team-description h6
{
  color: white;
  padding-top: 20px;
  text-align: center;
  text-transform: uppercase;
}
.team-description p
{
 margin-top: 0;
 color: white;
 text-align: center;
 text-transform: uppercase;
}
.achievments{
background-color: black;
   

}
.footer-icon{
   color: white;
   font-size: 70px;
   margin-left: 40%;

}
.feature-title-1
{
   color: rgba(228, 184, 41, 0.848);
   margin-top: 20px;
   font-size: 30px;
   text-align: center;
}
.feature-subtitle-1
{
   margin-top: 20px;
    color:white;
   text-align: center;
}
.footer-background{
   background-color:  black;
   margin-top: -70px;
}
.footer-heading{
   color: white;
   text-transform: uppercase;
   margin-bottom: 30px;
   margin-top: 20px;
   font-size:20px;
   font-weight: bold;

}
.footer-icons-1{
   color: white;
   border: 5px solid  rgba(228, 184, 41, 0.848) ;
   margin-top: 20px;
   font-size: 28px;
}
.footer-text{
   color: white;
   margin-top: 10px;
}
.link-color a{
   color: white;
   
}
.last-icons{
   color:  rgba(228, 184, 41, 0.848);
}
.link-color {
   margin-left: -50px;
}
.coloumn-4 p{
   color: white;
   margin-top: 20px;
}
.book-now{
   background-color: rgba(228, 184, 41, 0.848);
   padding: 50px;
   margin-top: 20px;
}
.book-now-heading{
   font-weight: bold;
   padding-bottom: 10px;
}
.divider {
   position: relative;
 }
 
 .divider::after {
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   right: -1px; 
   width: 2px; 
   background-color: white; 
 }
 